<div class="help-banner">
  <div class="help-icon">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="#2563eb">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
    </svg>
  </div>
  <div class="help-text">
    <p class="help-title">Need help with a booking?</p>
    <p class="help-desc">If you have issues with an ongoing service, please contact our support team immediately or check our <a href="#" class="help-link">FAQ section</a>.</p>
  </div>
</div>
